# Ambiente Virtual e Cache do Python
venv/
__pycache__/
*.pyc

# Ficheiros de configuração sensíveis
.env

# Ficheiros gerados pela aplicação
Cli-Download-Rom/bin/
Cli-Download-Rom/logs/
Cli-Download-Rom/temp/
Cli-Download-Rom/ROMs/