# ---- Cli-Download-Rom Dependencies ----

# Core libraries for HTTP requests and configuration
requests
PyYAML
python-dotenv

# Shell interface and user experience
colorama
prompt-toolkit

# Download manager
tqdm
aria2p

# String and text utilities
unidecode
python-Levenshtein